body {
  width: 100%;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
.topContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
}
.midContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background-color: aqua; */
}

#button1 {
  width: 54px;
  height: 54px;
  font-size: 30px;
  margin-left: 25px;
  display: inline-block;
  border: none;
  color: green;
  background-color: white;
  cursor: pointer;
}
#button2 {
  width: 54px;
  height: 54px;
  font-size: 30px;
  margin-left: 25px;
  display: inline-block;
  border: transparent;
  color: green;
  background-color: white;
  cursor: pointer;
}
#button3 {
  width: 54px;
  height: 54px;
  font-size: 30px;
  border: transparent;
  display: inline-block;
  color: green;
  background-color: white;
  cursor: pointer;
}

#pic1 {
  display: block;
}

.section {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.leftSide {
  width: 28%;
  height: auto;
  background-color: rgba(51, 54, 63, 1);
  display: flex;
  flex-direction: column;
}

.pic2 {
  width: 100%;
  height: 180px;
  background-color: yellow;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#picside {
  display: block;
}
.topics {
  width: 100%;
  height: 85px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  /* background-color: green; */
  display: block;
}
#information {
  font-size: 35px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.plant10 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.leaf1 {
  margin-right: 10px;
  margin-left: 20px;
  padding-bottom: 15px;
  font-size: 20px;
}
.topics10 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.midSection {
  width: 80%;
  height: auto;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
}
.searchSection {
  width: 90%;
  display: flex;
  flex-direction: row;
}
.search1 {
  margin-left: 30px;
  width: 80%;
}
.search2 {
  width: 20%;
}
#button4 {
  background-color: #4caf50;
  border: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%;
  cursor: pointer;
}
.input {
  width: 100%;
  /* height: 50px; */
  border: solid;
  color: rgb(0, 0, 0);
  font-size: larger;
  padding-left: 30px;
}
#input {
  width: 100%;
  padding: 17px 20px;
  border: solid;
  background-color: white;
}
#lang {
  width: 100%;
  padding: 17px 20px;
  border: solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}
.result {
  width: 100%;
  margin-left: 30px;
}
#name {
  width: 90%;
  height: 10px;
  padding: 10px;
}
#Definition {
  width: 90%;
  height: auto;
  padding: 10px;
  text-align: justify;
}
#Synonyms {
  width: 90%;
  height: auto;
  padding: 10px;
  text-align: justify;
}
#Description {
  width: 90%;
  height: auto;
  padding: 10px;
  text-align: justify;
}
#PlantMaterialOfInterest {
  width: 90%;
  height: auto;
  padding: 10px;
  text-align: justify;
}
#GeneralAppearance {
  width: 90%;
  height: auto;
  padding: 10px;
  text-align: justify;
}
#GeographicalDistribution {
  width: 90%;
  height: auto;
  padding: 10px;
  text-align: justify;
}
#MedicinalUses {
  width: 90%;
  height: auto;
  padding: 10px;
  text-align: justify;
}

.picBox {
  width: 28%;
  height: 800px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
}

.plantPic1 {
  width: 90%;
  height: 100px;
  padding: 50px;
  padding: 20px;
}
.plantPic2 {
  width: 90%;
  height: 200px;
  margin-bottom: 100px;
}
.plantPic3 {
  width: 90%;
  height: 200px;
  margin-bottom: 100px;
}
