body {
  width: 100%;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
}
.topContainer {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
}
/* .menu {
  width: auto;
  height: auto;
  background-color: beige;
  display: flex;
  align-items: center;
  padding: 20px;
} */
/* .plant {
  width: auto;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 20px;
} */
/* .menuIcon {
  width: 100px;
  height: 100px;
  display: block;
  margin-left: 30px;
  margin-top: 20px;
  padding: 10px;
} */
/* .account {
  width: auto;
  height: auto;
  background-color: rgb(255, 255, 46);
  display: flex;
  align-items: center;
  padding: 20px;
} */
#button1 {
  width: 54px;
  height: 54px;
  font-size: 30px;
  margin-left: 25px;
  display: inline-block;
  border: none;
  color: green;
  background-color: white;
  cursor: pointer;
}
#button2 {
  width: 54px;
  height: 54px;
  font-size: 30px;
  margin-left: 25px;
  display: inline-block;
  border: transparent;
  color: green;
  background-color: white;
  cursor: pointer;
}
#button3 {
  width: 54px;
  height: 54px;
  font-size: 30px;
  border: transparent;
  display: inline-block;
  color: green;
  background-color: white;
  cursor: pointer;
}

#pic1 {
  display: block;
}

.sideMenu {
  width: 25%;
  height: auto;
  background-color: rgba(51, 54, 63, 1);
  display: flex;
  flex-direction: column;
}

.pic2 {
  width: 100%;
  height: 180px;
  background-color: yellow;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#picside {
  display: block;
}
.topics {
  width: 100%;
  height: 85px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  background-color: green;
  display: block;
}
#information {
  font-size: 35px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.plant10 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.leaf1 {
  margin-right: 10px;
  margin-left: 30px;
  padding-bottom: 15px;
  font-size: 20px;
}
.topics10 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.midBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: aqua;
}
.main {
  width: 100%;
  height: 100px;
  background-color: red;
}
.searchSection {
  width: 100%;
  height: 100px;
  background-color: blue;
}
body {
  font: 16px Arial;
}
.search {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type="text"] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type="submit"] {
  background-color: DodgerBlue;
  color: #fff;
}
.search-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.search-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.search-items div:hover {
  background-color: #e9e9e9;
}
.search-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.result {
  width: 80%;
  height: 100px;
  background-color: yellow;
}
